

body {
    background-color: lightblue;
    font-size: 0.8em;
}

h1 {
    text-align: center;
    font-size: 3.5em; 
    font-family: sans-serif;
}

h2 {
font-family: sans-serif;
font-size: 1.7em;

}



#paragraph2 {
background-color: white;
border: 0.3em solid green;
padding: 1.5em;
line-height: 2em;
width: 56em;
margin: 2em;
}

.blue {
    background-color: darkblue;
    color: white;
    border: 0.1em solid black;
    padding: 1.1em;
    line-height: 1.3em
}

ol {
list-style-type: decimal-leading-zero;

}

a.one:link {
color:darkblue;
}

a.two:link {
    color:maroon
}

table { 
background-color: aliceblue;
border-collapse: collapse;
}

td,th {
    border: 1px solid black
}

th{
    background-color: lightgray;
}

td{
    padding:0.7em;
}