* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#menuItems {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: white;
    border-right: 2px solid gray;
    display: flex;
    flex-direction: column;

}

#jumpMenu {
text-align:center;
padding: none;
list-style: none;
text-decoration: none;
color: black;
background-color: lightgray;
position: static;
display: none;
}


main {
    margin-left: 15%;
    padding-top: 10px; 
}


header {
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    height: 70px;
    background-color: white;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    z-index: 1000;
}

header p {
    font-size: 1.5em;
}

#menuItems button {
    width: 100%;
    padding: 0.8em;
    cursor: pointer;
    background-color: lightgray;
    text-align:left;
    font-size: 1em;
}
#menuItems button:hover, #jumpMenu a:hover {
    background-color: gray;
}

#jumpMenu a:hover {
    color: white;
    
}

#menuItems #recentArticles:hover + #jumpMenu, #menuItems #jumpMenu:hover {
display: block;
}


main h1 {
    text-align: center;
    margin: 2em 0 1em 0;
}


#container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 1em;
    color: lightgray;
}

article:hover {
width: 350px;
color: black;
z-index:10
}

article {
    width: 300px;
    min-height: 350px;
    padding: 1em;
    background-color: white;
    transition: width 2s, height 2s, color 2s;
    z-index: 0;
}

article h2 {
    margin-bottom: 0.5em;
}


#thanks {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 0.7em 1em;
    border-radius: 6px;
    font-size: 0.9em;
}


footer {
    margin-top: 1em;
    padding: 2em;
    border-top: 2px solid gray;
    background-color: white;
   
}


#container p:first-of-type::first-letter {

    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;

}

#container a::after {
content: url('arrow.png');
padding-left: 2px;
}