
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: white;
    padding: 1em;
    overflow-y: auto;
    border-right: 2px solid gray;
}

#jumpMenu a {
    display: block;
    margin: 0.4em 0;
    text-decoration: none;
    color: black;
}


main {
    margin-left: 15%;
    padding-top: 90px; 
}


header {
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    height: 90px;
    background-color: white;
    border-bottom: 2px solid gray;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    z-index: 1000;
}

header p {
    font-size: 1.5em;
}

button {
    margin-left: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
}


main h1 {
    text-align: center;
    margin: 2em 0 1em 0;
}


#container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 1em;
}


article {
    width: 300px;
    border: 1px solid gray;
    padding: 1em;
    background-color: white;
}

article h2 {
    margin-bottom: 0.5em;
}


#thanks {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 0.7em 1em;
    border-radius: 6px;
    font-size: 0.9em;
}


footer {
    margin-top: 3em;
    padding: 2em;
    border-top: 2px solid gray;
    background-color: white;
}
